.nav {
    background-color: primary;
    border-bottom: 5px solid darkblue;
    padding: 10px;
}

.hoverable {
    cursor: pointer
}

mat-toolbar-row {
    font-size: 0.875em;
}

img {
    border-radius: 50%;
}