
<div fxLayout="row"
     fxLayoutAlign="center"
     class="view-container">

        <form [formGroup]="form" 
              fxLayout="column"
              fxLayoutGap="5px"
              #f="ngForm" novalidate
              (ngSubmit)="f.form.valid && submit(f.value)" >

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input type="text" placeholder="Shop" matInput [formControl]="category" [matAutocomplete]="auto" required>
            </mat-form-field>
              
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let category of categories" [value]="category.name" >{{category.name}}</mat-option>
            </mat-autocomplete>

            <mat-form-field>
              <input type="number" matInput placeholder="Amount" formControlName="amount" required>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
                <textarea formControlName="description" matInput placeholder="What did you buy?"></textarea>
            </mat-form-field>


              <input type="file" (change)="onFileSelectedEvent($event)" 
                              placeholder="Upload photo" 
                              formControlName="photo">
                
              <ng-container *ngIf="selectedFile">
                  {{selectedFile.name}}
              </ng-container>

            <button mat-button mat-raised-button class="submit-btn" 
                    type="submit"
                    [disabled]="f.form.pristine || f.form.invalid">Add Expense</button>

            <mat-progress-bar 
                    *ngIf="uploadProgress$" color="ascent" mode="determinate"  
                    [value]="uploadProgress$ | async">
            </mat-progress-bar> 
          </form>

          <!-- <mat-progress-spinner ngIf="uploadProgress$" [value]="uploadProgress$ | async"></mat-progress-spinner> -->
          <!-- {{ uploadProgress$ | async}} -->
</div>